version: "3.9"
services:
  app:
    build: .
    image: ba-cpu:local
    ports: ["8080:8080"]
  prometheus:
    image: prom/prometheus
    volumes: ["./prometheus.yml:/etc/prometheus/prometheus.yml:ro"]
    ports: ["9090:9090"]
  grafana:
    image: grafana/grafana
    ports: ["3000:3000"]
  k6:
    image: grafana/k6
    command: [ "run", "/scripts/load.js" ]
    environment:
      - TARGET=http://app:8080
    volumes:
      - ./scripts:/scripts:ro
    depends_on:
      - app
  k6-egress:
    image: grafana/k6
    command: [ "run", "/scripts/egress.js" ]
    environment:
      - TARGET=http://app:8080
      - SIZE=50MB
      - CHUNK=65536
    volumes:
      - ./scripts:/scripts:ro
    depends_on:
      - app

